.badgeCancel {
  background-color: red;
  border-radius: 2px;
  font-size: 16px;
  font-weight: inherit;
  width: 100px;
}

.badgeSuccess {
  background-color: green;
  width: 100px;
}

.penMore {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  background:  transparent;
  border: none;
}
