.buttonAdd
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:2px solid #2E9AFE;
    background-color: #2E9AFE;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .iconModal
    {
        color: white;
        font-size: 30px;
    }
}
.form 
{
    width: 100%;
}
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table 
{
    .iconTable
    {
        float: right;
        font-size: 16px;
        background: transparent;
        border: none;
    }
}
.modal-content
  {
    background-color: white;
  }
// @media all and (max-width:1770px)
// {
//     .buttonAdd
//     {
//         position: absolute;
//         right: 20%;
//     }
//     .modal-content
//     {
//         width: 80%;
//         position: absolute;
//         left: 20%;
//     }
// }
.textField
{
    width: 100%;
}