.cardChart
{
    height: 470px;
    width: 450px;
    margin-top: 20px;
}

.nameChart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnDropdown{
    position: absolute;
    left: 25px;
    top: 20px;
}

